<html>
<head><title>mobile</title>
</head>
<body>
{% include "base_head.html" %}
{% block content %}

	{{error}}
	Pls verify you mobile before procceding
	 <form method="post" action=".">{% csrf_token %}
		<table>
		<tr><td>number<input type="text" name="number" value={{number}} disabled></input></td></tr>
		<tr><td><input type="submit" name="send" value ="SEND"/></td></tr>
		<tr><td>verification:code<input type="text" name="code"></input></td></tr>
		<tr><td><input type="submit" name="verify" value ="VERIFY"/></td></tr>
		</table>
    </form>
{% endblock content %}
{% include "base_foot.html" %}
</body>
</html>
