  <html>
  <head>
  	<title>Forgot Password - Navmo</title>
  	
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/static/materialize/css/colour.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  	
  {% include "base_head.html" %}

  {% block content %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>

        <!--Import Google Icon Font-->
      <body>

<div class="row">
<div class="col s12 m4"></div>
        <div class="col s12 m4">
          <div class="card white darken-1">
            <div class="card-content black-text">
              <span class="card-title black-text" ><h3><center>Change Password</center></h3></span>

<font color="red">{% if form.errors %}Reference Id and password doesnt match.Please Try Again
        {% endif %}</font>
    <form method="post" action=".">{% csrf_token %}


        <div class="row">
          <div class="input-field col s2"></div><div class="input-field col s8">
            <input id="rid" name="rid" type="text" class="validate" value={{reference_id|safe}} required>
            <label for="rid" >{{reference_id|safe}}</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s2"></div><div class="input-field col s8">
            <input  name="otp" id="otp" type="text" class="validate" required>
             <label for="otp" >Otp Code ( Sent on mobile phone )</label>
        </div>
        </div>
        <div class="row">
          <div class="input-field col s2"></div><div class="input-field col s8">
            <input id="new_password" name="new_password" type="password" class="validate" required>
            <label for="password" >Password</label>
          </div><div id="password_error"></div>
        </div>
        <div class="row">
          <div class="input-field col s2"></div><div class="input-field col s8">
            <input id="repassword" type="password" required>
            <label  for="repassword">Re-enter Password</label>
          </div><div id="repassword_error"></div>
        </div>
       


        
          <div class="row">
              <div class="input-field col s3"></div>    
          
           <button class="btn waves-effect waves-light" name="change_password" value="change_password" type="submit">Proceed
    <!-- <i class="material-icons right">send</i> -->
  </button>
            <input type="hidden" name="next" value="/home" />
         
         
        </div>
</form>
      </div>

            </div>
            
        </div>
      </div>


      </body>


  {% include "base_foot.html" %}
  {% endblock content %}

  </html>