<html>
<title>NAVMO</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/static/materialize/css/colour.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<body>
  {% include "base_head.html" %}
{% block content %}
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>

<div class="row">
<div class="col s12 m2"></div>
<div class="col s12 m8">

     <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>What is NAVMO?</div>
      <div class="collapsible-body" ><p>NAVMO is a national competition for all students practicing Abacus and Vedic Maths across India to showcase their skills irrespective of which organization/schools/franchisee they belong to.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>Who is organizing NAVMO?</div>
      <div class="collapsible-body"><p>Mind Power Education (MPE) is organizing the first ever NAVMO competition to give all students across India a chance to participate in a premier Abacus and Vedic Maths competition irrespective of which organization/School/Franchisee they belong to.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>What are the different categories in NAVMO ??</div>
      <div class="collapsible-body"><p>NAVMO is divided into 4 different categories. Students can pick one category from ALPHA, BETA and THETA group and can also pick the GAMMA Group.
      <br>
      <br>  ALPHA GROUP (LKG - Class I) – Direct sums on Abacus.
 <br>BETA GROUP (Class II onwards) – Level 1-5 Individual Categories on Abacus.
<br>THETA GROUP (Class VI – Class XII) – Level 1 & 2 Individual Categories on Vedic Maths.
 <br>GAMMA GROUP Mind Magic MM (Open for All ) – Mental Calculations without Abacus.
<br>For MM-1 The students who have undergone level 1 and 2 of Abacus can only participate from alpha and beta group.</p></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>What are the round in NAVMO?</div>
      <div class="collapsible-body"><p>The competition is held at three rounds.The first round will be held in major cities (listed in the Exam center field in registration page).If there are more than 20 students registering from one school/center in a city, Mind Power Education will make an effort to come to your city to conduct the test (even if it’s not listed in the page).
      <br><br>
 Top students from the first round will qualify for Semifinal to be held in MPE City center.
<br><br>

 Final round, will be held in Pune, Maharashtra
<br><br>
First round – Before 30th November 2016
<br>Semifinal – Before 25th December 2016
<br>Finals – In the month of January 2017

</p></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>Who can participate in NAVMO?</div>
      <div class="collapsible-body"><p>NAVMO is open to All students practicing Abacus and Vedic Maths across India irrespective of which organization/schools/franchisee they belong to.
Gamma Group Mental Maths is for open for all students.</p></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>What are the different prizes you can win in NAVMO ?</div>
      <div class="collapsible-body"><p>Mind Power Education (MPE) will be distributing prizes worth 5 lakhs to students.
      <br><br> 
 <b>Awards and Scholarship</b>
 <br>
<br>  Gold,Silver and Bronze medals for Group champion in Schools
<br>  Gold Medals to State Champions
<br>  Champion's Champion Trophy
<br>  Maths Intellect Trophy 
<br>  Merit Certificates
<br>  10 Best School Trophy
<br>  Participation Certificates for every Participants
<br>  Scholarship of excellence in Abacus & Vedic Maths for top 100 students

</p>
</div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>What is the fees for entering in NAVMO?

</div>
      <div class="collapsible-body"><p>

Students need to pay INR 500/- for choosing one Group (ALPHA, BETA, THETA or GAMA). If students choose more than one group from the list below, the fees is INR 750/-  ALPHA + GAMMA  or BETA + GAMMA.


      </p></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>How many questions will be there in NAVMO?</div>
      <div class="collapsible-body"><p>
<br>
ALPHA Group – 70 Questions with Abacus 
<br>
Time duration – 10 min for First Round and Semifinal , 7 min for Final Round.
<br><br>

 BETA Group – Each level 70 Questions <t> Time duration - 5 min 
<br> <br>
 THETA Group – 70 Question <t>Time duration – 20min
<br>
<br>GAMMA Group – 50 Questions Alpha only <t> Time duration - 10 min
<br>GAMMA MM 1 to MM 5 (Class 2 onwards) <t> Time duration - 5 min 
<br><br>Paper pattern will  be different for different age groups.  


      </p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>If students qualify for finals, how should they arrange for travel to Pune?</div>
      <div class="collapsible-body"><p>

Once the student qualifies for the finals, they should book their own tickets to come to Pune. Mind Power Education can assist students/parents in the accommodation and travel in Pune to go to the examination venue. However, the students/parents need to bear their own cost. If you need assistance in anything, please reach out to us via our contact Us Page.

      </p></div>
    </li>


    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i> What should the student bring to Exam?</div>
      <div class="collapsible-body"><p>Student should bring their Abacus Box and pencil for the ALPHA and BETA Group Student should bring Pen and pencil for THETA group For GAMMA group only Pencil is required. No eraser is allowed in the examination hall .</p></div>
    </li>


    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i> What is our Password Policy and Password Reset options?</div>
      <div class="collapsible-body"><p>Should contain a Minimum of 6 characters,

Also you have the ability to Reset your password, in the event you are unable to remember your password.To reset the Password,Please go to the login page and click on "Forgot Pasword?..In the forgot password page you need to mention your Reference id ( Generated during registration ).You will receive a code in registered Mobile number .Write the code and new password.  </p></div>
    </li>


  </ul>
</div>
      </div>
{% endblock content %}
{% include "base_foot.html" %}
</body>
</html>