<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="/static/admin/css/style.css" media="all" />
	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.inputfocus-0.9.min.js"></script>
    <!--<script type="text/javascript" src="/static/admin/js/jquery.main.js"></script>-->
</head>
<body>
{% include "base_head.html" %}
{% block content %}

<section class="slider_wrapper">
  <div id="camera_wrap" class="">
    <div data-src="/static/general/images/slide.jpg"></div>
    <div data-src="/static/general/images/slide1.jpg"></div>
    <div data-src="/static/general/images/slide2.jpg"></div>  
  </div>  
</section> 
	Mobile Verification done
    <form method="post" action=".">{% csrf_token %}
        Payment:<input type="submit" value="{{payment_status}}"/>
    </form>

	<div id="container">
        <form action="#" method="post">
	  <div id="home_details">
                <h1>REGISTRATION DETAILS<span></span></h1>

                <div class="form">
                    <h2></h2>
                    
                    <table>
                        <tr><td>Name:{{first_name}} {{last_name}}</td><td></td></tr>
                        <tr><td>Father's Name:{{parent_father}}</td><td></td></tr>
                        <tr><td>Mother's Name:{{parent_mother}}</td><td></td></tr>
                        <tr><td>Gender:{{gender}}</td><td></td></tr>
                        <tr><td>T-shirt Size:{{tshirt_size}}</td><td></td></tr>
                        <tr><td>Email:{{email}}</td><td></td></tr>
                        <tr><td>Address:{{address}}</td><td></td></tr>
                        <tr><td>Phone Number:{{number}}</td><td></td></tr>
                        <tr><td>School Name:{{school}}</td><td></td></tr>
                        <tr><td>Class:{{grade}}</td><td></td></tr>
                        <tr><td>MPE:{{flag_mpe_student}}</td><td></td></tr>
                        <tr><td>Examination Group:{{flag_exam_group}}</td><td></td></tr>
                        <tr><td>First prefrence:{{exam_centre_1}}</td><td></td></tr>
                        <tr><td>Second prefrence:{{exam_centre_2}}</td><td></td></tr>
                       
                    </table>
                </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                
                <input class="send submit" type="submit" name="submit_fourth" id="submit_fourth" value="" />           
            </div>
            
        
	</div>
{% endblock content %}
{% include "base_foot.html" %}
</body>
</html>
