<footer id="footer">
  

<table>
<tr>


<!-- <td width="15%">
<br>
<img src="/static/general/images/sponsers/7.jpg" height="90">
</td>
 -->
<td width="10%">
<br>
<center>
<img src="/static/general/images/sponsers/1.jpg" height="90">
</td>
</center>
<center>
<td width="10%">
<br>
</center>

<center>
<img src="/static/general/images/sponsers/2.jpg" height="90">
</center>
</td>
<td width="10%">
<br>

<center>
<img src="/static/general/images/sponsers/3.jpg" height="90">
</center>
</td>

<!-- 
<td width="7%">
<br>
<img src="/static/general/images/sponsers/5.jpg" height="90">
</td> -->

<td width="20%">
</td>
<td width="13%">

<br>
<a href="https://msg91.com/startups/?utm_source=startup-banner"><img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"></a>
  
</td>
<td width="13%">
<br>
<center>
<img src="/static/general/images/sponsers/4.jpg" height="90">
</center>
</td>

<!-- 
<td width="10%">
<br>
<img src="/static/general/images/sponsers/6.jpg" height="90">
</td>
 -->

</tr>
</table>

  <div class="container_12">
    <div class="grid_12"> 
        <a href="#">
          <center>
           <img src="/static/general/images/mpe_logo_tm.png" height="20%"/>
         </center>
       </a>

<!--      <div class="socials">
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-google-plus"></a>
      <a href="#" class="fa fa-pinterest"></a>
    </div>
 -->
  </div>  

<h4>
<br>
  <font color="black">
 © Copyrights 2011-2016 Mind Power Education LLP. All Rights Reserved.
</font>
<br>
  <font color="#008ABF">

<a href="mailto:contact@mindpowereducation.com">contact@mindpowereducation.com</a> 
</font>
<br>
  <font color="black">

+91.9049019312 / +91.8149019312
<br>
</font>
</h4>
</footer>
