<html>
<head>
	<title>Register</title>
	
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/static/materialize/css/colour.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	
{% include "base_head.html" %}

{% block content %}

      <!--Import Google Icon Font-->
    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>
<div class="row">

    <form class="col s12">
        

      <div class="row">
        <div class="input-field col s3">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s3">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input id="fathers_name" type="text" class="validate">
          <label for="fathers_name">Father's Name</label>
        </div>
        <div class="input-field col s3">
          <input id="mothers_name" type="text" class="validate">
          <label for="mothers_name">Mother's Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="repassword" type="password" class="validate">
          <label for="repassword">Re-enter Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
         <div class="row">
        <div class="input-field col s6">
          <input id="mobile" type="number" class="validate">
          <label for="mobile">Mobile:</label>
        </div>
      </div>
      
 <div class="input-field col s6">
    <select>
      <option value="None" disabled selected>Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      
    </select>
    <label>Gender</label>
  </div>
<div class="input-field col s6">
    <select>
      <option value="None" disabled selected>TShirt-Size</option>
      <option value="24">24</option>
      <option value="26">26</option>
      <option value="28">28</option>
      <option value="30">30</option>
<option value="32">32</option>
      <option value="34">34</option>
      <option value="36">36</option>
      <option value="38">38</option>

      <option value="40">40</option>
      <option value="42">42</option>

    </select>
    <label>T-Shirt Size</label>
  </div>
<div class="row">
        <div class="input-field col s3">
          <input id="address" type="text" class="validate">
          <label for="address">Adress:</label>
        </div>
</div>       

DOB
<div class="row">
        <div class="input-field col s3">
          <input id="dob" type="date" class="datepicker">
          <!-- <label for="dob">DOB:</label> -->
        </div>
</div>
<div class="row">
        <div class="input-field col s3">
          <input id="schoolname" type="text" class="validate">
          <label for="schoolname">School:</label>
        </div>
</div>       
<div class="row">
<div class="input-field col s6">
    <select name="class" id="class">
      <option value="LKG" disabled selected>LKG</option>
      <option value="LKG">LKG</option>
      <option value="UKG">UKG</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>

      <option value="6">6</option>
      <option value="7">7</option>
    <option value="8">8</option>
      <option value="9">9</option>
            <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>

    </select>
    <label for ="class">Class</label>
  </div>
</div>
<div class="row">
<div class="input-field col s3">
<h3><label>Select Exam Group</label></h3><br>

     <p>
      <input class="with-gap" name="group_exam" type="radio" id="gamma"  />
      <label for="gamma">Gamma (Mind Magic open to all)</label>
    </p>
    <p>
      <input class="with-gap" name="group_exam" type="radio" id="alpha"  />
      <label for="alpha">Alpha Group</label>
    </p>
    <p>
      <input class="with-gap" name="group_exam" type="radio" id="beta"  />
      <label for="beta">Beta</label>
    </p>
      <p>
      <input class="with-gap" name="group_exam" type="radio" id="theta"  />
      <label for="theta">Theta</label>
    </p>
      </div>
</div>
<div class="row">
<div class="input-field col s3">
<h3><label>Select 1<sup>st</sup> Preference</label></h3><br>

     <p>
      <input class="with-gap" name="first_school" type="radio" id="mpe"  />
      <label for="mpe">MPE School</label>
    </p>
    <p>
      <input class="with-gap" name="first_school" type="radio" id="own"  />
      <label for="own">Own School</label>
    </p>
      </div>
<!-- </div>
<div class="row"> -->
<div class="input-field col s3">
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<!-- <h3><label for ="first_prefernce">1<sup>st</sup> Preference</label></h3><br>
 -->
    <select name="first_prefernce" id="first_prefernce">
        <option value="None" disabled selected>Select School</option>
      {{list_data|safe}}
    </select>
    
  </div>

</div>
<div class="row">
<div class="input-field col s3">
<h3><label>Select 2<sup>nd</sup> Preference</label></h3><br>

     <p>
      <input class="with-gap" name="second_school" type="radio" id="mpe2"  />
      <label for="mpe2">MPE School</label>
    </p>
    <p>
      <input class="with-gap" name="second_school" type="radio" id="own2"  />
      <label for="own2">Own School</label>
    </p>
      </div>
<!-- </div>
<div class="row"> -->
<div class="input-field col s3">
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<!-- <h3><label for ="first_prefernce">1<sup>st</sup> Preference</label></h3><br>
 -->
    <select name="second_prefernce" id="second_prefernce">
        <option value="None" disabled selected>Select School</option>
      {{list_data|safe}}
    </select>
    
  </div>

</div>
    </form>
  </div>

    </body>

{% endblock content %}


</html>
