<html>
<title>NAVMO</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/static/materialize/css/colour.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<body>
  {% include "base_head.html" %}
{% block content %}
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<div class="row">
  <div class="col s12 m2"></div>
        <div class="col s12 m8">
          <div class="card white darken-1" background-color="#FFD700">
            <div class="card-content black-text">
              <span class="card-title">About Navmo:</span>
              <p>NAVMO-National Abacus and Vedic Mathematics Olympiad is a national level competetion .that is primarily
                conducted to give all student practicing abacus and vedic mathematics across all level to compete in national platform the goal of the competetion is to give student of all age group to participate in various phases and win the ultimate prize of champion of champions</p>
            </div>
            
          </div>
        </div>
      </div>
<div class="row">
  <div class="col s12 m2"></div>
        <div class="col s12 m8">
          <div class="card white darken-1" background-color="#FFD700">
            <div class="card-content black-text">
              <span class="card-title">Examination Pattern:</span>
              <p>
                <ol>
                  <li>Alpha/Beta/ Group student have to calculate on Abacus Theta group is only for vedic maths</li>
                  <li>Alpha/Beta/ Group student can also participate in gamma group </li>
                  <li>Gamma group is Mental Arithmatic calculation without Abacus</li></ol></p>
                  <table border="1px solid black"bordercolor="#FFFAF0">
                    <tr>
                      <td>Alpha/Beta/Theta</td>
                      <td>70 questions</td>
                    </tr>
                    <tr><td>Gamma Group </td>
                      <td>50 questions</td>
                    </tr>
                    <tr><td>Alpha  </td>
                      <td>10 min</td>
                    </tr>
                    <tr><td>Beta</td>
                      <td>05 min</td>
                    </tr>
                    <tr><td>Theta  </td>
                      <td> 20 min </td>
                    </tr>
                    <tr><td> Gamma mm-1 Alpha only</td>
                      <td>10 min </td>
                    </tr>
                    <tr><td>Gamma mm-2 to mm-5 Beta only </td>
                      <td>05 min </td>
                    </tr>

                  </table>
            </div>
            
          </div>
        </div>
      </div>
      <div class="row">
       <div class="col s12 m2"></div>
 
        <div class="col s12 m8">
          <div class="card white darken-1" background-color="#FFD700">
            <div class="card-content black-text">
              <span class="card-title">Syllabus:</span>

              <p>
               NAVMO: question paper  are more group and level specific please refer to thesyllabus provided in the website-  www.mpenavmo.com <br>last date of online registration 10th oct. 2016 
              </p>
            </div>
            
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col s12 m2"></div>
 
        <div class="col s12 m8">
          <div class="card white darken-1" background-color="#FFD700">
            <div class="card-content black-text">
              <span class="card-title">10 Days Workshop: </span>

              <p>
               Mind Power Education is organization a workshop for freshers for 10 days to be conducted in school and centers to give all student an edge to participate in NAVMO for introductory level for all group to compete nationwide.
              </p>
            </div>
            
          </div>
        </div>
      </div>
      <div class="row">
       <div class="col s12 m2"></div>
 
        <div class="col s12 m8">
          <div class="card white darken-1" background-color="#FFD700">
            <div class="card-content black-text">
              <span class="card-title">The 10 Days Workshop Deliverables :</span>

              <p>
               <ol>
                  <li>Covers introductory level of abacus and vedic maths for different group</li>
                  <li>includes certification of first level Abacus/vedic maths</li>
                  <li>include kit and Registration of Navmo</li>
                   <li>include practice worksheets</li>
                    <li>include participation certificate for Navmo</li>
                     <li>include kit and Registration of Navmo</li>
                </ol>
              </p>
            </div>
            
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col s12 m2"></div>
 
        <div class="col s12 m8">
          <div class="card white darken-1" background-color="#FFD700">
            <div class="card-content black-text">
              <span class="card-title">Regular Classes Also Available </span>

            </div>
          </div>
        </div>
      </div>
{% endblock content %}
{% include "base_foot.html" %}
</body>
</html>