<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
{% include "base_head.html" %}
{% block content %}

	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	
	    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/static/materialize/css/colour.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>

<!-- 
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.inputfocus-0.9.min.js"></script>
    <script type="text/javascript" src="js/jquery.main.js"></script>
 -->
<body>	

<div class="row">
<div class="col s12 m3"></div>
        <div class="col s12 m6">
          <div class="card white lighten-0">
            <div class="card-content black-text">
              <span class="card-title black-text" ><h3><center>Contact Us - Navmo</center></h3></span>

            <!-- #first_step -->
            If you have any questions about NAVMO examination please email us at contact@mindpowereducation.com and will respond to your queries within three days. Please let us know your student name and registration information if you have already registered to the site. <br>
<br>
            Email - contact@mindpowereducation.com
<br>
            Contact - +91-9049019312 / +91-8149019312
            
            </div>
            </div>
            </div>
            </div>

        
</body>
</head>

{% endblock content %}
{% include "base_foot.html" %}

</html>
