<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.inputfocus-0.9.min.js"></script>
    <script type="text/javascript" src="js/jquery.main.js"></script>
</head>
<body>
	
	<div id="container">
        <form action="#" method="post">
	 <div >
                <h2><span>Reset Your Password</span></h2>

                <div class="form1">
                <input type="password" name="password2" id="password2" value="password" />
                <label for="password2">At least 4 characters. Use a mix of upper and lowercase for a strong password.</label>  
    
                <input type="password" name="cpassword1" id="cpassword1" value="password" />
                    <label for="cpassword1">Re Enter Your Password.</label>

                </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                
                <input class="submit" type="submit" name="submit_forget2" id="submit_forget2" value="" />
               
               </div>
         </form>
	</div>
	<!--<div id="progress_bar">
        <div id="progress"></div>
        <div id="progress_text">0% Complete</div>
	</div>-->
	
</body>
</html>