<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.inputfocus-0.9.min.js"></script>
    <script type="text/javascript" src="js/jquery.main.js"></script>
</head>
<body>
	
	<div id="container">
        <form action="#" method="post">
	  <div id="home_details">
                <h1>REGISTRATION DETAILS<span></span></h1>

                <div class="form">
                    <h2></h2>
                    
                    <table>
                        <tr><td>Name:</td><td></td></tr>
                        <tr><td>Father's Name:</td><td></td></tr>
                        <tr><td>Mother's Name:</td><td></td></tr>
                        <tr><td>Password:</td><td></td></tr>
                        <tr><td>Gender:</td><td></td></tr>
                        <tr><td>T-shirt Size:</td><td></td></tr>
                        <tr><td>Email:</td><td></td></tr>
                        <tr><td>Address:</td><td></td></tr>
                        <tr><td>Phone Number:</td><td></td></tr>
                        <tr><td>School Name:</td><td></td></tr>
                        <tr><td>Class:</td><td></td></tr>
                        <tr><td>MPE:</td><td></td></tr>
                        <tr><td>Company Name:</td><td></td></tr>
                        <tr><td>Examination Group:</td><td></td></tr>
                        <tr><td>First prefrence:</td><td></td></tr>
                        <tr><td>Second prefrence:</td><td></td></tr>
                       
                    </table>
                </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                
                <input class="send submit" type="submit" name="submit_fourth" id="submit_fourth" value="" />           
            </div>
            
        </form>
	</div>
</body>
</html>