<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.inputfocus-0.9.min.js"></script>
    <script type="text/javascript" src="js/jquery.main.js"></script>
</head>
<body>
	
	<div id="container">
        <form action="#" method="post">
	
            <!-- #first_step1 -->
            <div id="first_step1">
                <h1>LOGIN<span></span></h1>
                <div class="form1">
                    <input type="number" name="regnum1" id="regnum1" value="registration number" />
                    <label for="regnum1">Your registration number.</label>

                    <input type="password" name="password1" id="password1" value="password" />
                    <label for="password1">Enter Your Password.</label>
                     
                    
                   
                </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                 
                <a href="home1.html">
                <input class="login" type="submit" name="submit_login" id="submit_login" value="" /></a>
            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
              <a href="forget_password.html">forget password </a>
              </br>
              </br>
              <a href="registration.html">register yourself</a>
        
            
        </form>
	</div>
	<!--<div id="progress_bar">
        <div id="progress"></div>
        <div id="progress_text">0% Complete</div>
	</div>-->
	
</body>
</html>