	<html>
	<head><title>Failed</title>
	</head>
	 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
	    <link type="text/css" rel="stylesheet" href="/static/materialize/css/colour.css"  media="screen,projection"/>

	    <!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	    <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>

	{% include "base_head.html" %}
	{% block content %}

	<body>

	<div class="row">
	<div class="col s12 m3"></div>
	      <div class="col s12 m6">
	        <div class="card white">
	          <div class="card-content black-text">
	            <span class="card-title black-text" ><h3><center>Payment Failed</center></h3></span>

	<table class="striped">
	   <tbody>
	<br>

	     <tr>
	        <td>Payment Status</td>
	        <td>{{ status }}</td>
	      </tr>
	      <tr>
	        <td>Transaction Id</td>
	        <td>{{ txnid }}</td>
	      </tr>

	      <tr>
	        <td>Amount</td>
	        <td>{{ amount }}</td>
	      </tr>
	    </tbody>
	 


	</table>

	</div>
	<div class="card-action">
		
	<a href="/">continue</a>
		
	</div>
	</div>
	</div>
	</div>

	{% endblock content %}
	{% include "base_foot.html" %}
	</body>
	</html>
